*{
  margin: 0; padding: 0; box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
nav{
  width: 100%;
  height: 10rem;
  background: white;
}
nav a{
  text-decoration: none;
}
nav div#top{
  display: grid;
  grid-template-columns: 100fr 100fr 100fr;
  align-items: center;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  /* display: grid;
  grid-template-columns: 100fr 200fr 100fr; 
  text-align: center; */
  height: 7rem;
  padding: 0 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav #top #left > * + * {
  margin-left: 1rem;
  /* display: grid;
  grid-template-columns: repeat(5, 100fr); */
  /* display: flex;
  justify-content: space-between;
  gap: 1rem; */
}
nav #top #center{
  text-align: center;
}
nav #top #right{
  text-align: right;
}
nav #top #right  * + * {
  margin-left: 2rem;
}
nav div#bottom{
  height: 3rem;
}
main{
  display: grid;
  grid-template-columns: 200fr 100fr;
  width: 100%;
  height: calc(100vh - 10rem);
  color: red;
}
main #map{
  width: 100%;
  height: 100%;
  background: green;
}
main #map img{
  width: 100%;
}
main #properties{
  width: 100%;
  height: 100%;
  background: gray; 
}

